<a href="https://colab.research.google.com/github/KaikeRochaDev/analise-de-vendas/blob/main/analise_de_vendas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Lógica de programação 

# Passo 0 - Entender o desafio que você quer resolver

# Passo 1 - Percorrer todos os arquivos da pasta base de dados (Pasta Vendas)
import os
import pandas as pd

lista_arquivo = os.listdir("/content/drive/MyDrive/Projetos-python/Vendas")
display(lista_arquivo)

tabela_total = pd.DataFrame()

# Passo 2 - Importar as bases de dados de vendas
for arquivo in lista_arquivo:
  # se tem "Vendas" no nome do arquivo, então
  if "Vendas" in arquivo:
    # importar o arquivo
    tabela = pd.read_csv(f"/content/drive/MyDrive/Projetos-python/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela)

# Passo 3 - Tratar / Compilar as bases de dados
display(tabela_total)

['Vendas - São Paulo.csv',
 'Vendas - Rio de Janeiro.csv',
 'Vendas - Porto Alegre.csv',
 'Vendas - Fortaleza.csv',
 'Vendas - Salvador.csv',
 'Vendas - Recife.csv',
 'Vendas - Goiás.csv',
 'Vendas - Curitiba.csv',
 'Devolucoes - São Paulo.csv',
 'Devolucoes - Rio de Janeiro.csv',
 'Vendas - Belo Horizonte.csv',
 'Devolucoes - Porto Alegre.csv',
 'Devolucoes - Goiás.csv',
 'Devolucoes - Recife.csv',
 'Devolucoes - Fortaleza.csv',
 'Devolucoes - Salvador.csv',
 'Devolucoes - Curitiba.csv',
 'Devolucoes - Belo Horizonte.csv']

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,5,HL1918,iPhone,4,Sarah,Souza,2/14/2018,São Paulo,5300,NaN
1,6,HL7348,SmartWatch,3,Alexandre,Rodriguez,5/20/2018,São Paulo,1400,NaN
2,9,HL1148,Câmera,3,Camille,Silva,3/26/2018,São Paulo,2100,NaN
3,10,HL1918,iPhone,3,Alon,Palmeira,11/6/2018,São Paulo,5300,NaN
4,18,HL8851,Notebook,4,Leandro,Rodrigues,8/6/2018,São Paulo,3500,NaN
...,...,...,...,...,...,...,...,...,...,...
644,9910,HL1148,Câmera,4,Norman,Jimbo,2/17/2018,Belo Horizonte,2100,NaN
645,9927,HL2714,Tablet,2,Marina,Marins,1/29/2018,Belo Horizonte,1600,NaN
646,9932,HL1918,iPhone,1,José,Vieira,5/11/2018,Belo Horizonte,5300,NaN
647,9942,HL4379,Televisão,1,Fernanda,Junior,2/9/2018,Belo Horizonte,2500,NaN
648,9978,HL8851,Notebook,2,Mariane,Racy,12/28/2018,Belo Horizonte,3500,NaN

In [ ]:
# Passo 4 - Calcular o produto mais vendido (em quantidade)
tabela_produtos = tabela_total.groupby("Produto").sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [ ]:
# Passo 5 - Calcular o produto que mais faturou (em faturamento)
tabela_total["Faturamento"] = tabela_total['Quantidade Vendida'] * tabela_total["Preco Unitario"]
display(tabela_total)

tabela_faturamento = tabela_total.groupby("Produto").sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8,Faturamento
0,5,HL1918,iPhone,4,Sarah,Souza,2/14/2018,São Paulo,5300,NaN,21200
1,6,HL7348,SmartWatch,3,Alexandre,Rodriguez,5/20/2018,São Paulo,1400,NaN,4200
2,9,HL1148,Câmera,3,Camille,Silva,3/26/2018,São Paulo,2100,NaN,6300
3,10,HL1918,iPhone,3,Alon,Palmeira,11/6/2018,São Paulo,5300,NaN,15900
4,18,HL8851,Notebook,4,Leandro,Rodrigues,8/6/2018,São Paulo,3500,NaN,14000
...,...,...,...,...,...,...,...,...,...,...,...
644,9910,HL1148,Câmera,4,Norman,Jimbo,2/17/2018,Belo Horizonte,2100,NaN,8400
645,9927,HL2714,Tablet,2,Marina,Marins,1/29/2018,Belo Horizonte,1600,NaN,3200
646,9932,HL1918,iPhone,1,José,Vieira,5/11/2018,Belo Horizonte,5300,NaN,5300
647,9942,HL4379,Televisão,1,Fernanda,Junior,2/9/2018,Belo Horizonte,2500,NaN,2500
648,9978,HL8851,Notebook,2,Mariane,Racy,12/28/2018,Belo Horizonte,3500,NaN,7000

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [ ]:
# Passo 6 - Calcular a loja/cidade que mais vendeu (em faturamento)
tabela_lojas =tabela_total.groupby("Loja").sum()
tabela_lojas = tabela_lojas[['Faturamento']]
display(tabela_lojas)

                Faturamento
Loja
Belo Horizonte      6480300
Curitiba            7060500
Fortaleza          14087900
Goiás               7441800
Porto Alegre        6868600
Recife              7303000
Rio de Janeiro     14867800
Salvador           13111300
São Paulo          22098300

In [ ]:
#Criar um gráfico/dashboard

import plotly.express as px

grafico = px.bar(tabela_lojas, x=tabela_lojas.index , y='Faturamento')
grafico.show()